<app-module-header (onSubmitChild)="onSubmit()" (downloadAsPDFChild)="downloadAsPDF()" (generateExcelChild)="generateExcel()" (onResetChild)="onReset()" moduleTitle="Branch / Location Master"></app-module-header>
<div class="main">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="branchForm">
              <div class="row">
                <div class="col-sm-8">
                  <div class="head-1">
                    <div class="row">
                      <div class="col-sm-2 form-group">
                        <label class="center-block">Location Code: <span class="mandatory-input">*</span></label>
                        <div>
                          <input class="form-control" formControlName="loc_code" appStringInput appAllCapInput [readonly]="isEdit">
                        </div>
                        <span class="validation-error mandatory-input" *ngIf="(submitted || f['loc_code'].touched) && f['loc_code'].errors?.['required']">Code is required</span>
                      </div>
                      <div class="col-sm-2 form-group">
                        <label class="center-block">Location No: <span class="mandatory-input">*</span></label>
                        <div>
                          <input class="form-control" appNumberInput formControlName="loc_no">
                        </div>
                        <span class="validation-error mandatory-input" *ngIf="(submitted || f['loc_no'].touched) && f['loc_no'].errors?.['required']">No is required</span>
                      </div>
                      <div class="col-sm-2 form-group">
                        <label class="center-block">Location Name: <span class="mandatory-input">*</span></label>
                        <div>
                          <input class="form-control" formControlName="loc_name" appInitialCapInput>
                        </div>
                        <span class="validation-error mandatory-input" *ngIf="(submitted || f['loc_name'].touched) && f['loc_name'].errors?.['required']">Name is required</span>
                      </div>
                      <div class="col-sm-2 form-group">
                        <label class="center-block">Company Name: <span class="mandatory-input">*</span></label>
                        <div>
                          <select class="form-control" formControlName="comp_code">
                            <option [value]="val.comp_code" *ngFor="let val of company_data">{{val.comp_name}}</option>
                          </select>
                        </div>
                        <span class="validation-error mandatory-input" *ngIf="(submitted || f['comp_code'].touched) && f['comp_code'].errors?.['required']">Company Name is required</span>
                      </div>
                      <div class="col-sm-2 form-group" *ngIf="isEdit">
                        <label class="center-block">Status: </label>
                        <div>
                          <select class="form-control" formControlName="status">
                            <option value="Active">Active</option>
                            <option value="Inactive">Inactive</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4" *ngIf="isEdit">
                  <div class="head-1">
                    <div class="row">
                      <div class="col-sm-3 form-group">
                        <label class="center-block">Created By: </label>
                        <div>
                          <p class="form-control readonly" readonly>{{created_by}}</p>
                        </div>
                      </div>
                      <div class="col-sm-3 form-group">
                        <label class="center-block">Created At: </label>
                        <div>
                          <p class="form-control readonly" readonly>{{created_at}}</p>
                        </div>
                      </div>
                      <div class="col-sm-3 form-group">
                        <label class="center-block">Updated By: </label>
                        <div>
                          <p class="form-control readonly" readonly>{{updated_by}}</p>
                        </div>
                      </div>
                      <div class="col-sm-3 form-group">
                        <label class="center-block">Updated At: </label>
                        <div>
                          <p class="form-control readonly" readonly>{{updated_at}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                    <div class="head-2">
                      <h4>Address Details</h4>
                      <div class="row">
                          <div class="col-sm-6 form-group">
                            <label class="center-block">Address 1: <span class="mandatory-input">*</span></label>
                            <div>
                              <input class="form-control" formControlName="addr1">
                            </div>
                            <span class="validation-error mandatory-input" *ngIf="(submitted || f['addr1'].touched) && f['addr1'].errors?.['required']">Address1 is required</span>
                          </div>
                          <div class="col-sm-6 form-group">
                            <label class="center-block">Address 2: </label>
                            <div>
                              <input class="form-control" formControlName="addr2">
                            </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-2 form-group">
                            <label class="center-block">City: <span class="mandatory-input">*</span></label>
                            <div>
                              <mat-form-field>
                                <mat-select formControlName="city" (selectionChange)="onChanheCity($event)" #singleSelect>
                                  <mat-option>
                                    <ngx-mat-select-search placeholderLabel="Select" [formControl]="cityFilterCtrl" [preventHomeEndKeyPropagation]="true">
                                      <span ngxMatSelectNoEntriesFound>
                                        No data found
                                      </span>
                                    </ngx-mat-select-search>
                                  </mat-option>
                                  <mat-option *ngFor="let val of city_data_arr | async" [value]="val.city_name">
                                    {{val.city_name}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <span class="validation-error mandatory-input"
                              *ngIf="(submitted || f['city'].touched) && f['city'].errors?.['required']">City is required</span>
                          </div>
                          <div class="col-sm-2 form-group">
                            <label class="center-block">State: <span class="mandatory-input">*</span></label>
                            <div>
                              <input class="form-control" formControlName="state" readonly>
                            </div>
                            <span class="validation-error mandatory-input"
                              *ngIf="(submitted || f['state'].touched) && f['state'].errors?.['required']">State is required</span>
                          </div>
                          <div class="col-sm-2 form-group">
                            <label class="center-block">Country: <span class="mandatory-input">*</span></label>
                            <div>
                              <input class="form-control" formControlName="country" readonly>
                            </div>
                            <span class="validation-error mandatory-input"
                              *ngIf="(submitted || f['country'].touched) && f['country'].errors?.['required']">Country is
                              required</span>
                          </div>
                          <div class="col-sm-3 form-group">
                            <label class="center-block">Pin Code: <span class="mandatory-input">*</span></label>
                            <div>
                              <input class="form-control" appNumberInput formControlName="pincode">
                            </div>
                            <span class="validation-error mandatory-input" *ngIf="(submitted || f['pincode'].touched) && f['pincode'].errors?.['required']">PinCode is required</span>
                          </div>
                          <div class="col-sm-3 form-group">
                            <label class="center-block">Mobile No: </label>
                            <div>
                              <input class="form-control" appNumberInput formControlName="phone">
                            </div>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="head-3">
                        <h4>Other Details</h4>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                            <label class="center-block">Bank Name: </label>
                            <div>
                                <input class="form-control" formControlName="bank_name">
                            </div>
                            </div>
                            <div class="col-sm-4 form-group">
                            <label class="center-block">Bank Ac/No: </label>
                            <div>
                                <input class="form-control" appNumberInput formControlName="bank_ac_no">
                            </div>
                            </div>
                            <div class="col-sm-4 form-group">
                            <label class="center-block">GSTIN: </label>
                            <div>
                                <input class="form-control" formControlName="gstin">
                            </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label class="center-block">Image: </label>
                                <div>
                                    <input class="form-control" type="file" formControlName="image">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" class="row-border hover" id="evaluator_table">
                <thead>
                  <tr>
                    <th width="25">Action</th>
                    <th>Location Code</th>
                    <th>Location No</th>
                    <th>Location Name</th>
                    <th>Company Code</th>
                    <th>Address 1</th>
                    <th>Address 2</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Country</th>
                    <th>Pin Code</th>
                    <th>Mobile</th>
                    <th>Bank Name</th>
                    <th>Bank Acount No</th>
                    <th>Status</th>
                    <th>Created By</th>
                    <th>Created Date</th>
                    <th>Updated By</th>
                    <th>Updated Date</th>
                  </tr>
                </thead>
                <tbody *ngIf="data?.length != 0">
                  <tr *ngFor="let val of data">
                    <td class="text-center">
                      <img class="edit-icon" src="../../../assets/icons/edit.png" (click)="editCompanyList(val._id)" placement="bottom" ngbTooltip="EDIT">
                    </td>
                    <td>{{val.loc_code}}</td>
                    <td>{{val.loc_no}}</td>
                    <td>{{val.loc_name}}</td>
                    <td>{{val.comp_code}}</td>
                    <td>{{val.addr1}}</td>
                    <td>{{val.addr2}}</td>
                    <td>{{val.city}}</td>
                    <td>{{val.state}}</td>
                    <td>{{val.country}}</td>
                    <td>{{val.pincode}}</td>
                    <td>{{val.phone}}</td>
                    <td>{{val.bank_name}}</td>
                    <td>{{val.bank_ac_no}}</td>
                    <td>{{val.status}}</td>
                    <td>{{val.created_by}}</td>
                    <td>{{val.created_by}}</td>
                    <td>{{val.created_at | date:'dd-MM-y HH:MM:SS'}}</td>
                    <td>{{val.updated_by}}</td>
                    <td>{{val.updated_at | date:'dd-MM-y HH:MM:SS'}}</td>
                  </tr>
                </tbody>
                <tbody *ngIf="data?.length == 0">
                  <tr>
                    <td colspan="3" class="no-data-available">No data!</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>