<div class="main">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="categorySubForm">
        <div class="row">
          <div class="col-sm-8">
            <div class="head-1">
              <div class="row">
                <div class="col-sm-2 form-group">
                  <label class="center-block">Code: <span class="mandatory-input">*</span> </label>
                  <div>
                    <input class="form-control" formControlName="sub_category_code" appAllCapInput appSkipSpecialCharInput [readonly]='isEdit'>
                  </div>
                  <span class="validation-error mandatory-input" *ngIf="(submitted || f['sub_category_code'].touched) && f['sub_category_code'].errors?.['required']">Code is required</span>
                </div>
                <div class="col-sm-2 form-group">
                  <label class="center-block">Name: <span class="mandatory-input">*</span> </label>
                  <div>
                    <input class="form-control" formControlName="sub_category_name">
                  </div>
                  <span class="validation-error mandatory-input" *ngIf="(submitted || f['sub_category_name'].touched) && f['sub_category_name'].errors?.['required']">Name is required</span>
                </div>
                <div class="col-sm-2 form-group">
                  <label class="center-block">Category: <span class="mandatory-input">*</span> </label>
                  <div>
                    <mat-form-field>
                      <mat-select formControlName="category_code" #singleSelect>
                        <mat-option>
                          <ngx-mat-select-search placeholderLabel="Select" [formControl]="searchFilterCtrl" [preventHomeEndKeyPropagation]="true">
                            <span ngxMatSelectNoEntriesFound>
                              No data found
                            </span>
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let val of search_data_arr | async" [value]="val.category_code">
                          {{val.category_name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <span class="validation-error mandatory-input" *ngIf="(submitted || f['category_code'].touched) && f['category_code'].errors?.['required']">Category Code is required</span>
                </div>
                <div class="col-sm-2 form-group">
                  <label class="center-block">Markup: </label>
                  <div>
                    <input class="form-control" formControlName="markup">
                  </div>
                </div>
                <div class="col-sm-2 form-group">
                  <label class="center-block">Markdown: </label>
                  <div>
                    <input class="form-control" formControlName="markdown">
                  </div>
                </div>
                <div class="col-sm-2 form-group">
                  <label class="center-block">Shelf Life Peried: </label>
                  <div>
                    <input class="form-control" formControlName="shelf_life_p">
                  </div>
                </div>
                <div class="col-sm-2 form-group">
                  <label class="center-block">Shelf Life D/M: </label>
                  <div>
                    <select class="form-control" formControlName="shelf_life_dm">
                      <option>Select</option>
                      <option>Days</option>
                      <option>Month</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4" *ngIf="isEdit">
            <div class="head-1">
              <div class="row">
                <div class="col-sm-3 form-group">
                  <label class="center-block">Created By: </label>
                  <div>
                    <p class="form-control readonly" readonly>{{created_by}}</p>
                  </div>
                </div>
                <div class="col-sm-3 form-group">
                  <label class="center-block">Created At: </label>
                  <div>
                    <p class="form-control readonly" readonly>{{created_at}}</p>
                  </div>
                </div>
                <div class="col-sm-3 form-group">
                  <label class="center-block">Updated By: </label>
                  <div>
                    <p class="form-control readonly" readonly>{{updated_by}}</p>
                  </div>
                </div>
                <div class="col-sm-3 form-group">
                  <label class="center-block">Updated At: </label>
                  <div>
                    <p class="form-control readonly" readonly>{{updated_at}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" class="row-border hover" id="evaluator_table">
          <thead>
            <tr>
              <th width="25">Action</th>
              <th>Sub Category Code</th>
              <th>Sub Categoory Name</th>
              <th>Category Code</th>
              <th>Markup</th>
              <th>Markdown</th>
              <th>Shelf Life Peried</th>
              <th>Shelf Life D/M</th>
              <th>Status</th>
              <th>Created By</th>
              <th>Created Date</th>
              <th>Updated By</th>
              <th>Updated Date</th>
            </tr>
          </thead>
          <tbody *ngIf="data?.length != 0">
            <tr *ngFor="let val of data">
              <td class="text-center">
                <img class="edit-icon" src="../../../assets/icons/edit.png" (click)="editCategorySubList(val._id)" placement="bottom" ngbTooltip="EDIT">
              </td>
              <td>{{val.sub_category_code}}</td>
              <td>{{val.sub_category_name}}</td>
              <td>{{val.category_code}}</td>
              <td>{{val.markup}}</td>
              <td>{{val.markdown}}</td>
              <td>{{val.shelf_life_p}}</td>
              <td>{{val.shelf_life_dm}}</td>
              <td>{{val.status}}</td>
              <td>{{val.created_by}}</td>
              <td>{{val.created_at | date:'dd-MM-y HH:MM:SS'}}</td>
              <td>{{val.updated_by}}</td>
              <td>{{val.updated_at | date:'dd-MM-y HH:MM:SS'}}</td>
            </tr>
          </tbody>
          <tbody *ngIf="data?.length == 0">
            <tr>
              <td colspan="3" class="no-data-available">No data!</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>