<div class="top-menu">
    <div class="row">
        <div class="col-sm-6">
            <ul>
                <li class="topmenu company-name">Test : By Peacock Infotech </li>
                <li class="topmenu">
                    <a>Admin</a>
                    <ul class="submenu">
                        <li>
                            <a>System Setup</a>
                            <ul class="submenu">
                                <li>
                                    <a href="#" routerLink="/parameter">Parameter Master</a>
                                </li>
                                <li>
                                    <a href="#" routerLink="/common-list">Common List Master</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" routerLink="/module">Module Master</a>
                        </li>
                        <li>
                            <a href="#" routerLink="/company">Company Master</a>
                        </li>
                        <li>
                            <a href="#" routerLink="/branch">Branch Master</a>
                        </li>
                    </ul>
                </li>
                <li class="topmenu">
                    <a>Master</a>
                    <ul class="submenu">
                        <li>
                            <a href="#" routerLink="/country-state-city">City / State / Country Master</a>
                        </li>
                        <li>
                            <a href="#" routerLink="/user">User Master</a>
                        </li>
                        <li>
                            <a href="#" routerLink="/user-permission">User Permission Master</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" routerLink="/item">Item Master</a>
                        </li>
                        <li>
                            <a href="#" routerLink="/category-sub-category">Category / SubCategory Master</a>
                        </li>
                        <li>
                            <a href="#" routerLink="/brand-manufracturer">Brand / Manufracturer Master</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" routerLink="/tax">Tax Master</a>
                        </li>
                        <li>
                            <a href="#" routerLink="/item-tax">Item Tax Master</a>
                        </li>
                        <li>
                            <a>Payment Details</a>
                            <ul class="submenu">
                                <li>
                                    <a href="#" routerLink="/payment-mode">Payment Mode Master</a>
                                </li>
                                <li>
                                    <a href="#" routerLink="/payment-incl-excl">Payment Include Exclude Master</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a>Customers</a>
                            <ul class="submenu">
                                <li>
                                    <a href="#" routerLink="/customer">Customer Master</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a>Suppliers</a>
                            <ul class="submenu">
                                <li>
                                    <a href="#" routerLink="/vendor">Vendor Master</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a>Scheme Master</a>
                            <ul class="submenu">
                                <li>
                                    <a href="#" routerLink="/item-level-scheme">Item Level Scheme Master</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="topmenu">
                    <a>Sales</a>
                    <ul class="submenu">
                        <li>
                            <a href="#" routerLink="/point-of-sale">Point Of Sale (Counter Sale)</a>
                        </li>
                    </ul>
                </li>
                <li class="topmenu">
                    <a>Transactions</a>
                    <ul class="submenu">
                        <li>
                            <a href="#" routerLink="/purchase-entry">Purchase Entry</a>
                        </li>
                        <li>
                            <a href="#" routerLink="/opening-stock">Opening Stock</a>
                        </li>
                        <li>
                            <a href="#" routerLink="/rate-adjustment">Rate Adjustment</a>
                        </li>
                        <li>
                            <a href="#" routerLink="/stock-adjustment">Stock Adjustment</a>
                        </li>
                        <li>
                            <a href="#">Repacking</a>
                            <ul class="submenu">
                                <li>
                                    <a href="#" routerLink="/repacking-loose-item">Loose To Finish Item</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="topmenu">
                    <a>Reports</a>
                    <ul class="submenu">
                        <li>
                            <a href="#" routerLink="/day-sale-report">Day Sale Report</a>
                        </li>
                        <!-- <li>
                            <a href="#" routerLink="/sales-return">Sales Return</a>
                        </li> -->
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 text-right">
            <ul>
                <li class="topmenu">
                    Administrator (AMG)
                </li>
                <li class="topmenu">
                    Module: <input type="text">
                </li>
                <li class="topmenu">
                    Change Password
                </li>
                <li class="topmenu"  routerLink="/login">
                    Logout
                </li>
            </ul>
        </div>
    </div>
</div>