<app-module-header (onSubmitChild)="onSubmit()" (downloadAsPDFChild)="downloadAsPDF()" (generateExcelChild)="generateExcel()" (onResetChild)="onReset()" moduleTitle="Company Master"></app-module-header>
<div class="main">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="companyForm">
        <div class="row">
          <div class="col-sm-8">
            <div class="head-1">
              <div class="row">
                <div class="col-sm-3 form-group">
                  <label class="center-block">Company Code: <span class="mandatory-input">*</span></label>
                  <div>
                    <input class="form-control" formControlName="comp_code" appSkipSpecialCharInput appAllCapInput
                      [readonly]='isEdit'>
                  </div>
                  <span class="validation-error mandatory-input"
                    *ngIf="(submitted || f['comp_code'].touched) && f['comp_code'].errors?.['required']">Code is
                    required</span>
                </div>
                <div class="col-sm-3 form-group">
                  <label class="center-block">Company Name: <span class="mandatory-input">*</span></label>
                  <div>
                    <input class="form-control" appInitialCapInput formControlName="comp_name">
                  </div>
                  <span class="validation-error mandatory-input"
                    *ngIf="(submitted || f['comp_name'].touched) && f['comp_name'].errors?.['required']">Name is
                    required</span>
                </div>
                <div class="col-sm-3 form-group">
                  <label class="center-block">Type: <span class="mandatory-input">*</span></label>
                  <div>
                    <select class="form-control" formControlName="type">
                      <option value="" disabled>Select</option>
                      <option [value]="val.list_value" *ngFor="let val of typeData">{{val.list_desc}}</option>
                    </select>
                  </div>
                  <span class="validation-error mandatory-input"
                    *ngIf="(submitted || f['type'].touched) && f['type'].errors?.['required']">Type is required</span>
                </div>
                <div class="col-sm-3 form-group">
                  <label class="center-block">Status: </label>
                  <div>
                    <select class="form-control" formControlName="status">
                      <option value="Active">Active</option>
                      <option value="Inactive">Inactive</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4" *ngIf="isEdit">
            <div class="head-1">
              <div class="row">
                <div class="col-sm-3 form-group">
                  <label class="center-block">Created By: </label>
                  <div>
                    <p class="form-control readonly" readonly>{{created_by}}</p>
                  </div>
                </div>
                <div class="col-sm-3 form-group">
                  <label class="center-block">Created At: </label>
                  <div>
                    <p class="form-control readonly" readonly>{{created_at}}</p>
                  </div>
                </div>
                <div class="col-sm-3 form-group">
                  <label class="center-block">Updated By: </label>
                  <div>
                    <p class="form-control readonly" readonly>{{updated_by}}</p>
                  </div>
                </div>
                <div class="col-sm-3 form-group">
                  <label class="center-block">Updated At: </label>
                  <div>
                    <p class="form-control readonly" readonly>{{updated_at}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="head-2">
          <h4>Address Details</h4>
          <div class="row">
            <div class="col-sm-4 form-group">
              <label class="center-block">Address 1: <span class="mandatory-input">*</span></label>
              <div>
                <input class="form-control" appInitialCapInput formControlName="addr1">
              </div>
              <span class="validation-error mandatory-input"
                *ngIf="(submitted || f['addr1'].touched) && f['addr1'].errors?.['required']">Address1 is required</span>
            </div>
            <div class="col-sm-4 form-group">
              <label class="center-block">Address 2: </label>
              <div>
                <input class="form-control" appInitialCapInput formControlName="addr2">
              </div>
            </div>
            <div class="col-sm-4 form-group">
              <label class="center-block">Address 3: </label>
              <div>
                <input class="form-control" appInitialCapInput formControlName="addr3">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2 form-group">
              <label class="center-block">City: <span class="mandatory-input">*</span></label>
              <div>
                <mat-form-field>
                  <mat-select formControlName="city" (selectionChange)="onChanheCity($event)" #singleSelect>
                    <mat-option>
                      <ngx-mat-select-search placeholderLabel="Select" [formControl]="cityFilterCtrl" [preventHomeEndKeyPropagation]="true">
                        <span ngxMatSelectNoEntriesFound>
                          No data found
                        </span>
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let val of city_data_arr | async" [value]="val.city_name">
                      {{val.city_name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <span class="validation-error mandatory-input"
                *ngIf="(submitted || f['city'].touched) && f['city'].errors?.['required']">City is required</span>
            </div>
            <div class="col-sm-2 form-group">
              <label class="center-block">State: <span class="mandatory-input">*</span></label>
              <div>
                <input class="form-control" formControlName="state" readonly>
              </div>
              <span class="validation-error mandatory-input"
                *ngIf="(submitted || f['state'].touched) && f['state'].errors?.['required']">State is required</span>
            </div>
            <div class="col-sm-2 form-group">
              <label class="center-block">Country: <span class="mandatory-input">*</span></label>
              <div>
                <input class="form-control" formControlName="country" readonly>
              </div>
              <span class="validation-error mandatory-input"
                *ngIf="(submitted || f['country'].touched) && f['country'].errors?.['required']">Country is
                required</span>
            </div>
            <div class="col-sm-2">
              <div class="row">
                <div class="col-sm-6 form-group">
                  <label class="center-block">Pin Code: <span class="mandatory-input">*</span></label>
                  <div>
                    <input class="form-control" formControlName="pincode" appNumberInput>
                  </div>
                  <span class="validation-error mandatory-input"
                    *ngIf="(submitted || f['pincode'].touched) && f['pincode'].errors?.['required']">Pincode is
                    required</span>
                </div>
                <div class="col-sm-6 form-group">
                  <label class="center-block">STD Code: </label>
                  <div>
                    <input class="form-control" formControlName="std_code" appNumberInput>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-2 form-group">
              <label class="center-block">Telephone NO: </label>
              <div>
                <input class="form-control" formControlName="phone" appNumberInput>
              </div>
            </div>
            <div class="col-sm-2 form-group">
              <label class="center-block">Mobile No: </label>
              <div>
                <input class="form-control" formControlName="mobile" appNumberInput>
              </div>
            </div>
          </div>
        </div>
        <div class="head-3">
          <h4>Other Details</h4>
          <div class="row">
            <div class="col-sm-2 form-group">
              <label class="center-block">GSTIN: </label>
              <div>
                <input class="form-control" appAllCapInput formControlName="gstin">
              </div>
            </div>
            <div class="col-sm-2 form-group">
              <label class="center-block">FSSAI No: </label>
              <div>
                <input class="form-control" appAllCapInput formControlName="fassa_no">
              </div>
            </div>
            <div class="col-sm-2 form-group">
              <label class="center-block">CIN No: </label>
              <div>
                <input class="form-control" appAllCapInput formControlName="cin_no">
              </div>
            </div>
            <div class="col-sm-2 form-group">
              <label class="center-block">PAN: </label>
              <div>
                <input class="form-control" appAllCapInput formControlName="pan_no">
              </div>
            </div>
            <div class="col-sm-2 form-group">
              <label class="center-block">TAN No: </label>
              <div>
                <input class="form-control" appAllCapInput formControlName="tan_no">
              </div>
            </div>
            <div class="col-sm-2 form-group">
              <label class="center-block">LST/TIN/TPIN No: </label>
              <div>
                <input class="form-control" appAllCapInput formControlName="lsttinpin_no">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2 form-group">
              <label class="center-block">CST No: </label>
              <div>
                <input class="form-control" appAllCapInput formControlName="cst_no">
              </div>
            </div>
            <div class="col-sm-2 form-group">
              <label class="center-block">CO-REGN No: </label>
              <div>
                <input class="form-control" appAllCapInput formControlName="coregn_no">
              </div>
            </div>
            <div class="col-sm-2 form-group">
              <label class="center-block">CO-REGN Date: </label>
              <div>
                <input class="form-control" formControlName="coregndate">
              </div>
            </div>
            <div class="col-sm-2 form-group">
              <label class="center-block">DRUG LIC No: </label>
              <div>
                <input class="form-control" formControlName="druglic_no">
              </div>
            </div>
            <div class="col-sm-2 form-group">
              <label class="center-block">IMP/EXP No: </label>
              <div>
                <input class="form-control" formControlName="importexport">
              </div>
            </div>
            <div class="col-sm-2 form-group">
              <label class="center-block">Company Image: </label>
              <div>
                <input type="file" class="form-control" formControlName="company_image">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" class="row-border hover" id="evaluator_table">
          <thead>
            <tr>
              <th>Action</th>
              <th>Company Code</th>
              <th>Company Name</th>
              <th>Type</th>
              <th>Address 1</th>
              <th>Address 2</th>
              <th>Addess 3</th>
              <th>City</th>
              <th>State</th>
              <th>Country</th>
              <th>Pin Code</th>
              <th>Std Code</th>
              <th>Telephone</th>
              <th>Mobile</th>
              <th>GSTIN</th>
              <th>FASSAI No</th>
              <th>Status</th>
              <th>Created By</th>
              <th>Created Date</th>
              <th>Updated By</th>
              <th>Updated Date</th>
            </tr>
          </thead>
          <tbody *ngIf="data?.length != 0">
            <tr *ngFor="let val of data">
              <td class="text-center">
                <img class="edit-icon" src="../../../assets/icons/edit.png" (click)="editCompanyList(val._id)" placement="bottom" ngbTooltip="EDIT">
              </td>
              <td>{{val.comp_code}}</td>
              <td>{{val.comp_name}}</td>
              <td>{{val.type}}</td>
              <td>{{val.addr1}}</td>
              <td>{{val.addr2}}</td>
              <td>{{val.addr3}}</td>
              <td>{{val.city}}</td>
              <td>{{val.state}}</td>
              <td>{{val.country}}</td>
              <td>{{val.pincode}}</td>
              <td>{{val.std_code}}</td>
              <td>{{val.phone}}</td>
              <td>{{val.mobile}}</td>
              <td>{{val.gstin}}</td>
              <td>{{val.fassa_no}}</td>
              <td>{{val.status}}</td>
              <td>{{val.created_by}}</td>
              <td>{{val.created_by}}</td>
              <td>{{val.created_at | date:'dd-MM-y HH:MM:SS'}}</td>
              <td>{{val.updated_by}}</td>
              <td>{{val.updated_at | date:'dd-MM-y HH:MM:SS'}}</td>
            </tr>
          </tbody>
          <tbody *ngIf="data?.length == 0">
            <tr>
              <td colspan="3" class="no-data-available">No data!</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>