<app-module-header (onSubmitChild)="onSubmit()" (downloadAsPDFChild)="downloadAsPDF()" (generateExcelChild)="generateExcel()" (onResetChild)="onReset()" moduleTitle="Common List Master"></app-module-header>
<div class="main">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="commonlistForn">
              <div class="row">
                <div class="col-sm-8">
                  <div class="head-1">
                    <div class="row">
                        <div class="col-sm-2 form-group">
                          <label class="center-block">Code: <span class="mandatory-input">*</span></label>
                          <div>
                            <input class="form-control" formControlName="list_code" appAllCapInput appStringInput [readonly]='isEdit'>
                          </div>
                          <span class="validation-error mandatory-input" *ngIf="(submitted || f['list_code'].touched) && f['list_code'].errors?.['required']">Code is required</span>
                        </div>
                        <div class="col-sm-2 form-group">
                          <label class="center-block">Value: <span class="mandatory-input">*</span></label>
                          <div>
                            <input class="form-control" formControlName="list_value" appInitialCapInput>
                          </div>
                          <span class="validation-error mandatory-input" *ngIf="(submitted || f['list_value'].touched) && f['list_value'].errors?.['required']">Value is required</span>
                        </div>
                        <div class="col-sm-2 form-group">
                          <label class="center-block">Description: <span class="mandatory-input">*</span></label>
                          <div>
                            <input class="form-control" formControlName="list_desc" appInitialCapInput>
                          </div>
                          <span class="validation-error mandatory-input" *ngIf="(submitted || f['list_desc'].touched) && f['list_desc'].errors?.['required']">Description is required</span>
                        </div>
                        <div class="col-sm-2 form-group">
                          <label class="center-block">Order By: </label>
                          <div>
                            <input class="form-control" formControlName="order_by" appNumberInput>
                          </div>
                        </div>
                        <div class="col-sm-2 form-group">
                          <label class="center-block">Location: <span class="mandatory-input">*</span></label>
                          <div>
                            <select class="form-control" formControlName="loc_code">
                              <option value="0" selected>All Location</option>
                              <option [value]="val.loc_code" *ngFor="let val of branchData">{{val.loc_name}}</option>
                            </select>
                          </div>
                          <span class="validation-error mandatory-input" *ngIf="(submitted || f['loc_code'].touched) && f['loc_code'].errors?.['required']">Location is required</span>
                        </div>
                        <div class="col-sm-2 form-group" *ngIf="isEdit">
                          <label class="center-block">Status: </label>
                          <div>
                            <select class="form-control" formControlName="status">
                              <option>Select</option>
                              <option value="Active">Active</option>
                              <option value="Inactive">Inactive</option>
                            </select>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4" *ngIf="isEdit">
                  <div class="head-1">
                    <div class="row">
                      <div class="col-sm-3 form-group">
                        <label class="center-block">Created By: </label>
                        <div>
                          <p class="form-control readonly" readonly>{{created_by}}</p>
                        </div>
                      </div>
                      <div class="col-sm-3 form-group">
                        <label class="center-block">Created At: </label>
                        <div>
                          <p class="form-control readonly" readonly>{{created_at}}</p>
                        </div>
                      </div>
                      <div class="col-sm-3 form-group">
                        <label class="center-block">Updated By: </label>
                        <div>
                          <p class="form-control readonly" readonly>{{updated_by}}</p>
                        </div>
                      </div>
                      <div class="col-sm-3 form-group">
                        <label class="center-block">Updated At: </label>
                        <div>
                          <p class="form-control readonly" readonly>{{updated_at}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" class="row-border hover" id="evaluator_table">
                <thead>
                    <tr>
                      <th width="25">Action</th>
                      <th>Code</th>
                      <th>Value</th>
                      <th>Description</th>
                      <th>Order By</th>
                      <th>Location Code</th>
                      <th>Status</th>
                      <th>Created By</th>
                      <th>Created Date</th>
                      <th>Updated By</th>
                      <th>Updated Date</th>
                    </tr>
                </thead>
                <tbody *ngIf="data?.length != 0">
                    <tr *ngFor="let val of data">
                      <td class="text-center">
                        <img class="edit-icon" src="../../../assets/icons/edit.png" (click)="editCommonList(val._id)" placement="bottom" ngbTooltip="EDIT">
                      </td>
                      <td>{{val.list_code}}</td>
                      <td>{{val.list_value}}</td>
                      <td>{{val.list_desc}}</td>
                      <td>{{val.order_by}}</td>
                      <td>{{val.loc_code}}</td>
                      <td>{{val.status}}</td>
                      <td>{{val.created_by}}</td>
                      <td>{{val.created_at | date:'dd-MM-y HH:MM:SS'}}</td>
                      <td>{{val.updated_by}}</td>
                      <td>{{val.updated_at | date:'dd-MM-y HH:MM:SS'}}</td>
                    </tr>
                </tbody>
                <tbody *ngIf="data?.length == 0">
                    <tr>
                        <td colspan="3" class="no-data-available">No data!</td>
                    </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>