<app-module-header (onSubmitChild)="onSubmit()" (downloadAsPDFChild)="downloadAsPDF()" (generateExcelChild)="generateExcel()" (onResetChild)="onReset()" moduleTitle="Purchase Entry"></app-module-header>
<div class="main">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="purchaseEntryForm">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="head-1">
                            <div class="row">
                                <div class="col-sm-3 form-group">
                                    <label class="center-block">Location: </label>
                                    <div>
                                        <input class="form-control" formControlName="loc_code"
                                            oninput="this.value = this.value.toUpperCase()" readonly>
                                    </div>
                                </div>
                                <div class="col-sm-3 form-group">
                                    <label class="center-block">GNR-No: </label>
                                    <div>
                                        <input class="form-control" formControlName="gnr_no" >
                                    </div>
                                </div>
                                <div class="col-sm-3 form-group">
                                    <label class="center-block">V-Date : </label>
                                    <div>
                                        <input class="form-control" formControlName="v_date" readonly>
                                    </div>
                                </div>
                                <div class="col-sm-3 form-group">
                                    <label class="center-block">LAST GRN-No: </label>
                                    <div>
                                        <input class="form-control" formControlName="last_grn_no">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="head-1">
                            <div class="row">
                                <div class="col-sm-2 form-group">
                                    <label class="center-block">Created By: </label>
                                    <div>
                                        <input class="form-control" formControlName="created_by">
                                    </div>
                                </div>
                                <div class="col-sm-2 form-group">
                                    <label class="center-block">Created At: </label>
                                    <div>
                                        <input class="form-control" formControlName="created_at">
                                    </div>
                                </div>
                                <div class="col-sm-2 form-group">
                                    <button class="btn" style="font-size: 13px; margin-top: 20px; background-color: #5494ed;">Un-Auth</button>
                                </div>
                                <div class="col-sm-2 form-group">
                                    <label class="center-block">Auth By : </label>
                                    <div>
                                        <input class="form-control" formControlName="auth_by">
                                    </div>
                                </div>
                                <div class="col-sm-2 form-group">
                                    <label class="center-block">Auth Date: </label>
                                    <div>
                                        <input class="form-control" formControlName="auth_date">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="head-1">
                            <div class="row">
                                <div class="col-sm-4 form-group">
                                    <label class="center-block">CR LIKE VNO: </label>
                                    <div>
                                        <input class="form-control" formControlName="cr_like_vno">
                                    </div>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label class="center-block">TRF BR: </label>
                                    <div>
                                        <input class="form-control" formControlName="trf_br" >
                                    </div>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <button class="btn" style="font-size: 13px; margin-top: 20px; background-color: #5494ed;">TRF-OUT</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="head-1">
                    <div class="row">
                        <div class="col-sm-2 form-group">
                            <label class="center-block">PO No: </label>
                            <div>
                                <input type="text" class="form-control" formControlName="po_no">
                            </div>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label class="center-block">PO DT: </label>
                            <div>
                                <input type="date" class="form-control" formControlName="po_date">
                            </div>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label class="center-block">GI No: </label>
                            <div>
                                <input type="text" class="form-control" formControlName="gi_no">
                            </div>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label class="center-block">INVOICE TYPE: </label>
                            <div>
                                <select class="form-control" formControlName="invoice_type">
                                    <option value="">-- select --</option>
                                    <option value="{{ item.id }}" *ngFor="let item of invoicetypes">{{ item.value }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label class="center-block">Bill No: </label>
                            <div>
                                <input type="text" class="form-control" formControlName="bill_no">
                            </div>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label class="center-block">Bill Date: </label>
                            <div>
                                <input type="date" class="form-control" formControlName="bill_date">
                            </div>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label class="center-block">SUPPLIER: </label>
                            <div>
                                <select class="form-control" formControlName="supplier" (change)="supplierChange($event)">
                                    <option value="">select</option>
                                    <option value="{{ item.vend_code }}" *ngFor="let item of supplierList">{{ item.vend_name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label class="center-block">GSTIN: </label>
                            <div>
                                <input type="text" class="form-control" formControlName="gstin" readonly>
                            </div>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label class="center-block">BROKER: </label>
                            <div>
                                <select class="form-control" formControlName="broker">
                                    <option value="">select</option>
                                    <option value="{{ item.broker_code }}" *ngFor="let item of brokerList">{{ item.broker_name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label class="center-block">NARRATION: </label>
                            <div>
                                <input type="text" class="form-control" formControlName="narration">
                            </div>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label class="center-block">EWAY BILL NO.: </label>
                            <div>
                                <input type="text" class="form-control" formControlName="eway_billno">
                            </div>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label class="center-block">EWAY BILL DATE: </label>
                            <div>
                                <input type="date" class="form-control" formControlName="eway_billdate">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="head-1">
                    <div class="row">
                        <div class="col-sm-2 form-group">
                            <label class="center-block">TAXABLE AMT: </label>
                            <div>
                                <input type="text" class="form-control" formControlName="taxable_amt">
                            </div>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label class="center-block">ITEM DISC: </label>
                            <div>
                                <input type="text" class="form-control" formControlName="item_desc">
                            </div>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label class="center-block">EXTRA DISC: </label>
                            <div>
                                <input type="text" class="form-control" formControlName="extra_desc">
                            </div>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label class="center-block">APMC: </label>
                            <div>
                                <input type="text" class="form-control" formControlName="apmc">
                            </div>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label class="center-block">R-OFF: </label>
                            <div>
                                <input type="text" class="form-control" formControlName="r_off">
                            </div>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label class="center-block">SUPP BILL AMT: </label>
                            <div>
                                <input type="text" class="form-control" formControlName="supp_bill_amt">
                            </div>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label class="center-block">TAX AMT: </label>
                            <div>
                                <input type="text" class="form-control" formControlName="tax_amt">
                            </div>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label class="center-block">CASH DISC: </label>
                            <div>
                                <input type="text" class="form-control" formControlName="cash_disc">
                            </div>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label class="center-block">EXTRA CHRG: </label>
                            <div>
                                <input type="text" class="form-control" formControlName="extra_charge">
                            </div>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label class="center-block">OTHR CHRG: </label>
                            <div>
                                <input type="text" class="form-control" formControlName="other_charge">
                            </div>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label class="center-block">PUR.RETN: </label>
                            <div>
                                <input type="text" class="form-control" formControlName="pur_return">
                            </div>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label class="center-block">NET PURCHASE: </label>
                            <div>
                                <input type="text" class="form-control" formControlName="net_purchase">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="head-1">
                            <div class="row">

                                <div class="col-sm-4">
                                    <p>Last Receipt Through Purchase:</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="head-1">
                            <div class="row">
                                <div class="col-sm-12 barcode-table table-scroll table-responsive">
                                    <table class="table table-bordered" formArrayName="barcodes">  
                                        <thead>
                                            <tr>  
                                                <th>No</th>
                                                <th width="120px">Barcode</th>  
                                                <th width="250px">Item Name</th>  
                                                <th width="20px">PK CASE</th>  
                                                <th width="35">QTY /<br> PK</th>  
                                                <th>BILL QTY</th>  
                                                <th>FREE QTY</th>  
                                                <th>Total QTY</th>  
                                                <th width="70">M.R.P</th>  
                                                <th width="70">BILL RATE</th>  
                                                <th>TAXABLE AMT</th>  
                                                <th width="45">DISC.<br>PERC</th>  
                                                <th>ITEM DISC.</th>  
                                                <th>CASH DISC.</th>  
                                                <th width="20px">TAX %</th>  
                                                <th width="60">TAX AMT</th>  
                                                <th width="60">LANDING COST</th>  
                                                <th width="60">SALE RATE</th>  
                                                <th width="75">PURCHASE AMT</th>  
                                                <th width="70">EXPIRY DATE</th>  
                                                <th width="70">MFG. DATE</th>
                                                <th width="50">Narration</th>
                                                <th width="30"><button type="button" (click)="addBarcode()" class="btn btn-sm"><i class="fa fa-plus-circle" style="font-size: 15px; color: yellow;"></i></button></th>  
                                            </tr>
                                        </thead>  
                                        <tbody>
                                            <tr *ngFor="let barcode of barcodes.controls; let i=index" [formGroupName]="i">  
                                                <td style="text-align: center;">{{i+1}}</td>
                                                <td><input type="text" formControlName="barcode" class="form-control" (blur)="getItemList($event, i)"> </td>  
                                                <td><input type="text" formControlName="item_name" class="form-control" readonly>  </td>  
                                                <td><input type="text" formControlName="pk_case" class="form-control" (blur)="pkCase($event, i)"> </td>  
                                                <td><input type="text" formControlName="qty_per_case" class="form-control" (blur)="pkCase($event, i)">  </td>  
                                                <td><input type="text" formControlName="bill_qty" class="form-control" (blur)="totalQty($event, i)"> </td>  
                                                <td><input type="text" formControlName="free_qty" class="form-control" (blur)="totalQty($event, i)">  </td>  
                                                <td><input type="text" formControlName="total_qty" class="form-control" readonly> </td>  
                                                <td><input type="text" formControlName="mrp" class="form-control" (change)="mrpChange($event, i)">  </td>  
                                                <td><input type="text" formControlName="bill_rate" class="form-control" (blur)="taxableAmt($event, i)"> </td>  
                                                <td><input type="text" formControlName="taxable_amount" class="form-control" (blur)="taxableAmtChange($event, i)">  </td>  
                                                <td><input type="text" formControlName="disc_percent" class="form-control" (blur)="itemDiscChange($event, i)"> </td>
                                                <td><input type="text" formControlName="item_disc" class="form-control">  </td>  
                                                <td><input type="text" formControlName="cash_disc" class="form-control" (change)="cashDiscChange($event, i)"> </td>  
                                                <td>
                                                    <input type="text" formControlName="tax_cd" class="form-control" *ngIf="taxData == 'N'">
                                                    <select formControlName="tax_cd" class="form-control" *ngIf="taxData == 'Y'">
                                                        <option value="">-- Select --</option>
                                                        <option value="{{ item.tax_code }}" *ngFor="let item of taxList">{{ item.tax_name }}</option>
                                                    </select>
                                                </td>  
                                                <td><input type="text" formControlName="tax_amt" class="form-control" (change)="taxAmtChange($event, i)" readonly> </td>  
                                                <td><input type="text" formControlName="landing_cost" class="form-control">  </td>  
                                                <td><input type="text" formControlName="sale_rate" class="form-control"> </td>  
                                                <td><input type="text" formControlName="purchase_amt" class="form-control">  </td>  
                                                <td><input type="text" formControlName="expiry_date" class="form-control" placeholder="dd-mm-yy"> </td>  
                                                <td><input type="text" formControlName="mfg_date" class="form-control" placeholder="dd-mm-yy">  </td>  
                                                <td><input type="text" formControlName="narration" class="form-control">  </td>  
                                                <td style="padding: 5px !important;"><button (click)="removeBarcode(i)" class="btn btn-sm"><i class="fa fa-minus-circle" style="font-size: 15px; color: red;"></i></button></td>  
                                            </tr> 
                                        </tbody>
                                        <tfoot> 
                                            <tr>
                                                <td>Count</td>
                                                <td><input type="text" class="form-control" value="{{ totalRows }}" readonly></td>
                                                <td><button class="btn btn-success btn-block" (click)="calculateSummary()">Calculate Summary</button></td>
                                                <td colspan="2" style="text-align: right;">Summary </td>
                                                <td><input type="text" class="form-control" value="{{ totalBillQty }}" readonly></td>
                                                <td><input type="text" class="form-control" value="{{ totalFreeQty }}" readonly></td>
                                                <td><input type="text" class="form-control" value="{{ totalQtyCol }}" readonly></td>
                                                <td><input type="text" class="form-control" readonly></td>
                                                <td><input type="text" class="form-control" readonly></td>
                                                <td><input type="text" class="form-control" value="{{ totalTaxableAmt }}" readonly></td>
                                                <td><input type="text" class="form-control" readonly></td>
                                                <td><input type="text" class="form-control" value="{{ totalItemDisc }}" readonly></td>
                                                <td><input type="text" class="form-control" value="{{ totalCashDisc }}" readonly></td>
                                                <td><input type="text" class="form-control" readonly></td>
                                                <td><input type="text" class="form-control" value="{{ totalTaxAmt }}" readonly></td>
                                                <td><input type="text" class="form-control" readonly></td>
                                                <td><input type="text" class="form-control" readonly></td>
                                                <td><input type="text" class="form-control" value="{{ totalPurAmt }}" readonly></td>
                                                <td><input type="text" class="form-control" readonly></td>
                                                <td><input type="text" class="form-control" readonly></td>
                                                <td><input type="text" class="form-control" readonly></td>
                                                <td><input type="text" class="form-control" readonly></td>
                                            </tr>
                                        </tfoot>
                                    </table>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="head-1">
                            <div class="row">
                                <div class="col-sm-1 form-group">
                                    <label class="center-block">CURR BALQTY: </label>
                                    <div>
                                        <input class="form-control" formControlName="currbalqty" readonly>
                                    </div>
                                </div>
                                <div class="col-sm-1 form-group">
                                    <label class="center-block">MARKUP: </label>
                                    <div>
                                        <input class="form-control" formControlName="markup" readonly>
                                    </div>
                                </div>
                                <div class="col-sm-1 form-group">
                                    <label class="center-block">MARKDOWN: </label>
                                    <div>
                                        <input class="form-control" formControlName="markdown" readonly>
                                    </div>
                                </div>
                                <div class="col-sm-1 form-group">
                                    <label class="center-block">MARGIN: </label>
                                    <div>
                                        <input class="form-control" formControlName="margin" readonly>
                                    </div>
                                </div>
                                <div class="col-sm-1 form-group" style="border-left: 1px solid #000;">
                                    <label class="center-block">HSN: </label>
                                    <div>
                                        <input class="form-control" formControlName="hsncode" readonly>
                                    </div>
                                </div>
                                <div class="col-sm-1 form-group">
                                    <label class="center-block">IGST: </label>
                                    <div>
                                        <input class="form-control" formControlName="igst" readonly>
                                    </div>
                                </div>
                                <div class="col-sm-1 form-group">
                                    <label class="center-block">CGST: </label>
                                    <div>
                                        <input class="form-control" formControlName="cgst" readonly>
                                    </div>
                                </div>
                                <div class="col-sm-1 form-group">
                                    <label class="center-block">SGST: </label>
                                    <div>
                                        <input class="form-control" formControlName="sgst" readonly>
                                    </div>
                                </div>
                                <div class="col-sm-1 form-group">
                                    <label class="center-block">UTGST: </label>
                                    <div>
                                        <input class="form-control" formControlName="utgst" readonly>
                                    </div>
                                </div>
                                <div class="col-sm-1 form-group">
                                    <label class="center-block">CESS: </label>
                                    <div>
                                        <input class="form-control" formControlName="cess" readonly>
                                    </div>
                                </div>
                                <div class="col-sm-1 form-group">
                                    <label class="center-block">Cess/Piece: </label>
                                    <div>
                                        <input class="form-control" formControlName="cessperpiece" readonly>
                                    </div>
                                </div>
                                <div class="col-sm-1 form-group">
                                    <label class="center-block">Batch No.: </label>
                                    <div>
                                        <input class="form-control" formControlName="batch_no" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                        <tr>
                            <th width="25">Action</th>
                            <th>Location</th>
                            <th>Barcode</th>
                            <th>Item Code</th>
                            <th>Item Name</th>
                            <th>Barcode</th>
                            <th>MRP</th>
                            <th>Sale Rate</th>
                            <th>Cost Rate</th>
                            <th>Department</th>
                            <th>Batch No</th>
                            <th>Doc Type</th>
                            <th>Company</th>
                            <th>Status</th>
                            <th>Created By</th>
                            <th>Created Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let val of data">
                            <td class="text-center">
                                <span class="tooltip"><img class="edit-icon" src="../../../assets/icons/edit.png"
                                        (click)="editCompanyList(val._id)">
                                    <span class="tooltiptext">EDIT</span>
                                </span> |
                                <span class="tooltip"><img class="delete-icon" src="../../../assets/icons/delete.png"
                                        (click)="deleteCompanyList(val._id)">
                                    <span class="tooltiptext">DELETE</span>
                                </span>
                            </td>
                            <td>{{val.loc_code}}</td>
                            <td>{{val.barcode}}</td>
                            <td>{{val.item_code}}</td>
                            <td>{{val.qty}}</td>
                            <td>{{val.mrp}}</td>
                            <td>{{val.sale_rate}}</td>
                            <td>{{val.cost_rate}}</td>
                            <td>{{val.dept_code}}</td>
                            <td>{{val.expiry_date}}</td>
                            <td>{{val.batch_no}}</td>
                            <td>{{val.doc_type}}</td>
                            <td>{{val.comp_code}}</td>
                            <td>{{val.status}}</td>
                            <td>{{val.created_by}}</td>
                            <td>{{val.created_at}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> -->
</div>

<div class="display-view" style="display: none;">
    <table class="table" id="table" #pdfTable>
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Page</th>
                <th>Parent Module</th>
                <th>Image</th>
                <th>Is Home</th>
                <th>Status</th>
                <th>Created By</th>
                <th>Created Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let val of data">
                <td>{{val.module_code}}</td>
                <td>{{val.module_name}}</td>
                <td>{{val.module_slug}}</td>
                <td>{{val.parent_madule_code}}</td>
                <td>{{val.module_image}}</td>
                <td>{{val.is_home}}</td>
                <td>{{val.status}}</td>
                <td>{{val.created_by}}</td>
                <td>{{val.created_at}}</td>
            </tr>
        </tbody>
    </table>
</div>

<app-footer></app-footer>